.titel {
  text-align: center;
  font-size: 5rem;
}

.portrait {
  justify-self: right;
}

.aboutMe {
  font-size: 2rem;
  text-align: center;
}

.aboutmeTitel {
  text-align: center;
  font-size: 3rem;
}

.aboutmeTiteltxt {
  text-align: center;
  font-size: 3rem;
}

.waves {
  width: 100%;
}

.image {
  align-self: left;
}

.menu {
  background-color: black;
  height: 4em;
  width: 100%;
}

.button {
  width: 1em;
  height: 1em;
  margin: 1em;
}

.timeline {
  background-color:#0B0B17;
  margin-top: -12.5em;
  width: 100%;
  
}

.imgTimeline {
  width: 50%;
}


.txtAusbildung {
  margin-top: 8em;
  color: aliceblue;
  background-color:#0B0B17;
  vertical-align: bottom;

}

.titelSkills {
  text-align: center;
}

.skills {
  display: flex;
  justify-content: center;
}

.skillicons{
  width: 60%;
}

.svg {
  width: 100%;
  margin-bottom: -10em;
}

.svgflipped {
  width: 100%;
  margin-top: -0.8em;
}

.titelProjects {
  margin: 3em;
  text-align: center;
  font-size: 5rem;
}

.calculatorLink {
  text-align: center;
  display: flex;
  justify-content: center;
  color: black;
  text-decoration: none;
  font-size: 3em;
}

.calculatorLink:link {
  color: black;
}

.calculatorLink:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

.calculator {
  display: flex;
  justify-content: left;
  margin-left: 8em;
}

.calculatorimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 1em;
}

.grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 1 / 3 / 2 / 4; }
  .div4 { grid-area: 1 / 4 / 2 / 5; }
