.titel {
  text-align: center;
  text-align: center;

  font-size: 6rem;
}

.portrait {
  justify-self: right;
}

.aboutMe {
  font-size: 2rem;
  text-align: center;
  text-align: center;

}

.waves {
  width: 100%;
  height: 100fr;
}

.cv {
  margin-top: -10px;
  background-color: #0B0B17;
  width: 100%;
  height: 500px;
}

.CV_Titel {
  margin-top: -10px;
  justify-content: center;
  text-align: center;
  color: blanchedalmond;
  
}