.titel {
  text-align: center;
  font-size: 3rem;
}

.portrait {
  justify-self: right;
}

.aboutMe {
  font-size: 2rem;
  text-align: center;

}

.waves {
  width: 100%;
}

.image {
  align-self: left;
}

.menu {
  background-color: black;
  height: 10em;
  width: 100%;
}

.button {
  width: 1em;
  height: 1em;
  margin: 1em;
}

.timeline {
  background-color:#0B0B17;
  margin-top: -10em;
  height: 30em;
  width: 100%;
  
}

.imgTimeline {
  width: 50%;
}


.txtAusbildung {
  margin-top: 5em;
  color: aliceblue;

}

.titelSkills {
  text-align: center;
}

.skills {
  display: flex;
  justify-content: center;
}

.skillicons{
  width: 60%;
}

.svg {
  width: 100%;
  margin-bottom: -10em;
}

.svgflipped {
  width: 100%;
}